[submodule "third_party/googletest"]
	path = third_party/googletest
	url = git@github.com:google/googletest.git
	shallow = true
[submodule "third_party/abseil-cpp"]
	path = third_party/abseil-cpp
	url = git@github.com:abseil/abseil-cpp.git
	shallow = false
[submodule "third_party/mimalloc"]
	path = third_party/mimalloc
	url = git@github.com:microsoft/mimalloc.git
	shallow = true
[submodule "third_party/cutlass"]
	path = third_party/cutlass
	url = git@github.com:NVIDIA/cutlass.git
[submodule "third_party/flashinfer"]
	path = third_party/flashinfer
	url = git@github.com:flashinfer-ai/flashinfer.git
[submodule "third_party/prometheus"]
	path = third_party/prometheus
	url = git@github.com:prometheus/prometheus.git
	shallow = true
[submodule "third_party/grafana"]
	path = third_party/grafana
	url = git@github.com:grafana/grafana.git
	shallow = true
[submodule "third_party/tokenizers-cpp"]
	path = third_party/tokenizers-cpp
	url = git@github.com:mlc-ai/tokenizers-cpp.git
[submodule "third_party/boost"]
	path = third_party/boost
	url = git@github.com:boostorg/boost.git
	shallow = true
	update = none
[submodule "third_party/folly"]
	path = third_party/folly
	url = git@github.com:facebook/folly.git
	shallow = true
	update = none
[submodule "third_party/fast_float"]
	path = third_party/fast_float
	url = git@github.com:fastfloat/fast_float.git
