[submodule "third_party/abseil-cpp"]
	path = third_party/abseil-cpp
	url = https://github.com/abseil/abseil-cpp.git
[submodule "third_party/tokenizer"]
	path = third_party/tokenizer
	url = https://github.com/divedb/tokenizer.git
[submodule "third_party/beast"]
	path = third_party/beast
	url = https://github.com/boostorg/beast.git
[submodule "third_party/hpc-ops"]
	path = third_party/hpc-ops
	url = https://github.com/Tencent/hpc-ops.git
[submodule "third_party/flashinfer"]
	path = third_party/flashinfer
	url = https://github.com/flashinfer-ai/flashinfer.git
[submodule "third_party/cutlass"]
	path = third_party/cutlass
	url = https://github.com/NVIDIA/cutlass.git
[submodule "third_party/googletest"]
	path = third_party/googletest
	url = https://github.com/google/googletest.git
[submodule "third_party/benchmark"]
	path = third_party/benchmark
	url = https://github.com/google/benchmark.git
[submodule "third_party/simdjson"]
	path = third_party/simdjson
	url = https://github.com/simdjson/simdjson.git
[submodule "third_party/blake3"]
	path = third_party/blake3
	url = https://github.com/BLAKE3-team/BLAKE3.git
